body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2F3C7E;
}

.login-container, form, h1, h2, div {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #FBEAEB;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
